body{
margin: 0px;
}
li{
list-style: none;	
}
a{
text-decoration: none;	
}
.head{
height:40px;
width: 100%;	
background-color: #000000;
margin:0 auto;
top:0px;
}
.head a{
color: floralwhite;	
font-family: "微软雅黑";
font-weight: bold;
}
.logo{
padding: 5px 10px;
float: left;
color: #999999;
font-size: 20px;
}
.logo:hover{
color: #666666;
}
.nav{
height: 40px;
margin-top: 0px;	
}
.nav:hover{
color:#floralwhite;;	
}
.topli:hover{
color: 	#666666;
}
.nav li{
	padding: 10px;
	font-size: 15px;
	margin-left: 15px;
	float: left;
}
.right-p{
position: absolute;
right: 5px;
top: -5px;
color: #999999;
}
.right-p a{
margin-right: 15px;
}
#main{
margin-top:20px;
}
.mainnav:hover{
color:	666666 ;
line-height: 1.5em;
}
#mainnav{
float: left;	
width: 30%;
height:388px ;
margin-left:20px;
border-radius:6px;
background-color: #eee;
}
.mainlitop{
list-style: none;
font-size: 12px;
font-weight: 666;
font-family: arial;	
color: #999999;
margin-left:15px ;	
}
.mainli{
font-weight: bold;
color: #0000CC;
display: block;
width: 80%;
border-radius:6px;
}
.mainli:hover{
background-color:#999;
}
#mainword{
text-align: center;
vertical-align: middle;	
border-radius:5px ;
background-color:#eee ;
height: 218px ;
margin-right:85px ;
font-family:"微软雅黑" ;
}
#mainword h1{
text-align:left;
margin-left: 36px;
}
.ppap{
text-align:left;
margin-left: 36px;
}
.btn-1{
	background-color: #6699CC;
	border-radius: 10px;
    padding: 10px 20px;
}
.btn-1:hover	{
color: #66FFFF;
}
#word{
	width: 25%;
	float: left;
	padding-right: 20px;
	margin-left: 42px;
}
.btn-2{
	background-color: #6699CC;
	border-radius: 10px;
    padding: 10px 20px;
}
.btn-2:hover	{
color: #66FFFF;
}
#mdzz{
float: right;
width: 66%;
margin-top:-18px ;
}
#footer{
clear:both;
border-top:	2px solid #000000;
text-align: center;
}
